* {
	box-sizing: border-box;
}

:root {
	--bg-header: #10375c;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	position: relative;
	font-size: 1.6rem;
	font-family: "Sora", sans-serif;
}

/* ==== COMMON ==== */
a {
	text-decoration: none;
}

.container {
	width: 117rem;
	max-width: calc(100% - 4.8rem);
	margin: 0 auto;
}

/* ==== HEADER ==== */
.header {
	min-height: 100vh;
	background: var(--bg-header);
	padding-top: 30px;
}

.header-top {
	display: flex;
	align-items: center;
}

.logo {
	position: relative;
	display: inline-flex;
	font-size: 1rem;
}

.logo__circle::before,
.logo__circle::after {
	content: "";
	display: inline-block;
	border-radius: 50%;
}

.logo__circle::before {
	width: 3em;
	height: 3em;
	background: #2e80ce;
	margin-right: 0.6em;
}

.logo__circle::after {
	position: absolute;
	top: 1.1em;
	left: 1.1em;
	width: 1.6em;
	height: 1.6em;
	background: #fff;
}

.logo__text {
	margin-left: 0.6em;
	text-align: right;
	align-items: center;
	line-height: 1.6em;
}

.logo__brand {
	display: block;
	color: #fff;
	font-size: 1.8em;
	font-weight: 400;
}

.logo__brand--small {
	font-size: 1.2em;
	font-weight: 300;
}

.navbar {
	margin-left: 31.8rem;
}

.navbar__list {
	display: flex;
	gap: 4.2rem;
}

.navbar__item a {
	position: relative;
	color: #c9d2da;
	transition: all 0.3s ease-in-out;
}

.navbar__item a:hover {
	color: #fff;
}

.navbar__item a:hover::before {
	position: absolute;
	content: "";
	width: 0.6rem;
	height: 0.6rem;
	top: 50%;
	transform: translateY(-50%);
	left: -1.1rem;
	background: #fff;
	display: inline-block;
	border-radius: 50%;
	animation: appearFromLeft 0.3s ease-in-out forwards;
}

.action {
	margin-left: auto;
	display: flex;
	align-items: center;
}

.action__btn {
	display: inline-block;
	text-align: center;
	font-size: 1.6rem;
	padding: 8px 20px;
	border-radius: 22px;
	transition: all 0.3s ease-in-out;
	line-height: 2.8rem;
}

.action__btn--login {
	color: #c9d2da;
}

.action__btn--login:hover {
	color: #fff;
	background: rgba(255, 255, 255, 0.3);
}

.action__btn--register {
	color: #fff;
	background: #2e80ce;
}

.action__btn--register:hover {
	background: #1f5f9b;
}

/* ==== HERO ==== */
.header-hero {
	min-height: calc(100vh - 74px);
	display: flex;
	align-items: center;
}

.header-hero__content {
	width: 54%;
}

.header-logo__images {
	position: relative;
	display: flex;
	width: 46%;
}

.header-hero__title {
	color: #fff;
	font-size: 7rem;
	font-weight: 600;
	line-height: 8rem; /* 114.286% */
	letter-spacing: -0.14rem;
}

.header-hero__text {
	margin-top: 22px;
	color: #c9d2da;
	font-size: 1.8rem;
	font-weight: 300;
	line-height: 3rem; /* 166.667% */
}

.header-hero__contact {
	display: flex;
	align-items: center;
	gap: 38px;
	margin-top: 38px;
}

.action-contact {
	color: #fff;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 3rem;
}

.action-contact a {
	color: #fff;
	transition: all 0.3s ease-in-out;
}

.action-contact a:hover {
	color: #c9d2da;
}

.header-logo__images img {
	font-size: 1rem;
	border-radius: 6px;
	object-fit: cover;
	height: auto;
}

.header-logo__images img:first-child {
	width: 330px;
	height: 540px;
	z-index: 1;
}

.header-logo__images img:last-child {
	position: absolute;
	width: 210px;
	height: 410px;
	top: 65px;
	right: 6px;
}

.action__btn--hero {
	color: #fff;
	background: #2e80ce;
	border-radius: 30px;
	padding: 15px 46px;
}

.action__btn--hero:hover {
	background: #1f5f9b;
}

/* ==== MAIN ==== */
.main {
	display: flex;
	flex-direction: column;
	gap: 170px;
	padding: 170px 0;
}

/* 1. Service  */
.service__header {
	display: flex;
	flex-direction: column;
	gap: 18px;
	align-items: center;
}

.service__header--title {
	color: #10375c;
	font-size: 5rem;
	font-weight: 600;
	line-height: 6rem; /* 120% */
	letter-spacing: -0.1rem;
}

.service__header--desc {
	width: 40%;
	color: #575f66;
	text-align: center;
	font-size: 1.8rem;
	font-weight: 300;
	line-height: 3rem; /* 166.667% */
}

.service__body {
	display: flex;
	align-items: center;
	margin-top: 7rem;
}

.service__body--image {
	width: 49%;
}

.service__body--listServices {
	width: 51%;
	display: flex;
	flex-direction: column;
	gap: 55px;
	padding-left: 10%;
}

.service__body--image img {
	width: 570px;
	height: 570px;
	object-fit: cover;
	object-position: 100% 0%;
	border-radius: 12px;
}

.list-service {
	display: flex;
	flex-direction: column;
}

.item-service__style {
	display: flex;
	padding: 20px;
	gap: 20px;
	border-radius: 10px;
}

.service-icon {
	color: #10375c;
	border-radius: 50%;
	background: #eff6fd;
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.service-icon i {
	font-size: 2.6rem;
}

.service-text {
	width: 80%;
}

.service-text__title {
	color: #10375c;
	font-size: 1.8rem;
	font-weight: 600;
	line-height: normal;
}

.service-text__desc {
	margin-top: 8px;
	color: #575f66;
	font-size: 1.6rem;
	font-weight: 300;
	line-height: 2.8rem; /* 175% */
}

.item-service a:hover .item-service__style {
	transition: all 0.3s ease-in-out;
	box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.item-service a:hover .service-icon {
	color: #fff;
	background: #2e80ce;
	transition: all 0.3s ease-in-out;
}

.action__btn--service {
	color: #fff;
	padding: 15px 48px;
	background: #2e80ce;
	border-radius: 30px;
}

.action__btn--service:hover {
	background: #1f5f9b;
}

/* ==== KEYFRAMES ==== */
@keyframes appearFromLeft {
	0% {
		transform: translate(-100%, -50%);
		opacity: 0;
	}
	100% {
		transform: translate(0, -50%);
		opacity: 1;
	}
}
